<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <img
      class="m-2"
      src="https://s.yimg.com/rz/p/yahoo_homepage_en-US_s_f_p_bestfit_homepage.png"
      alt=""
      width="150"
      height="50"
    />

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          href="#"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
          class="nav-link px-2 link-secondary"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#"
          [routerLink]="['/user']"
          routerLinkActive="router-link-active"
          class="nav-link px-2 link-dark"
          >user</a
        >
      </li>
      <li>
        <a
          href="#"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          class="nav-link px-2 link-dark"
          >about</a
        >
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button
        type="button"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
        class="btn btn-warning btn-sm me-2"
      >
        Login
      </button>
      <button
        type="button"
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        class="btn btn-warning btn-sm"
      >
        Sign-up
      </button>
    </div>
  </header>
</div>
